.about-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  .about-tag {
    text-align: center;
    position: absolute;
    top: 0em;
    font-family: Pinyon Script;
    font-size: 36px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: white;
    .about-text-content-container {
      position: absolute;
      left: 0em;
      top: 15vh;
      margin-left: 5%;
      .about-title {
        font-size: 72px;
        text-shadow: 5px 2px 0px #000000;
        color: $bright-yellow;
        @include small {
          font-size: 15vw;
        }
      }
      .about-parag {
        width: 400px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 100;
        font-size: 24px;
        margin-bottom: 10%;
        line-height: 28px;
        @include small {
          width: 80vw;
          font-size: 5vw;
        }
      }
      .about-buttons-container {
        display: flex;

        .about-button {
          font-family: Lora;
          padding: 5% 8%;
          font-weight: 300;
          font-size: 24px;
          background-color: white;
          text-decoration: none;
          text-align: center;
          @include small {
            font-size: 5vw;
          }
        }
        .contact-btn {
          width: 30%;
          margin-right: 5%;
          color: black;
          &:hover {
            background-color: $dark-yellow;
            color: white;
          }
        }
        .team-btn {
          width: 50%;
          color: white;
          background-color: $bright-yellow;
          font-weight: 700;
          &:hover {
            background-color: $dark-yellow;
          }
        }
      }
      .about-sns {
        margin-top: 10%;
        .about-sns-svg {
          text-decoration: none;
          svg {
            fill: white;
            margin-right: 3%;
            &:hover {
              fill: $bright-yellow;
            }
          }
        }
      }
    }
  }
}
