.video-container {
  height: 150vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
iframe {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  border: 0;
  z-index: -1;
}
