.stack {
  width: 250px;
  height: 400px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-60%);
}
.card {
  width: 250px;
  min-height: 80%;
  background-color: white;
  position: absolute;
  top: 0%;
  transform: translateX(-50%);
  display: grid;
  justify-content: center;
  align-items: center;
  color: #00000080;
  box-shadow: 0 5px 10px 0 #00000040, 0 15px 20px 0#00000020;
  transition: transform 200ms;
}

.card:nth-last-child(n + 4) {
  --y: calc(-50% + -30px);
  transform: rotate(10deg);
  box-shadow: 0 0 1px 1px #00000003;
}
.card:nth-last-child(3) {
  --y: calc(-50% + -15px);
  transform: rotate(20deg);
}
.card:nth-last-child(2) {
  --y: calc(-50%);
  transform: rotate(5deg);
}
.card:nth-last-child(1) {
  --y: calc(-50% + 15px);
  transform: rotate(0deg);
}

@keyframes swap {
  50% {
    transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
    z-index: -1;
  }
}
