.circle {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.circle-text {
  width: 100%;
  height: 100%;
  font-family: SF Mono;
  font-style: normal;
  font-weight: bold;
  animation: rotateText 10s linear infinite;
  @keyframes rotateText {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .char {
    position: absolute;
    left: 50%;
    transform-origin: 0 75px;
    font-size: 12px;
    color: white;
    &:nth-child(-n + 9) {
      color: $bright-yellow;
    }
  }
}
