.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  .home-tag {
    font-family: Pinyon Script;
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-text-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: white;
    .home-title {
      font-size: 144px;
      text-shadow: 5px 2px 0px #000000;
      color: $bright-yellow;
      position: absolute;
      left: 50%;
      bottom: 15%;
      transform: translate(-50%, -50%);
    }
    .home-button {
      font-family: Lora;
      font-weight: 300;
      font-size: 24px;
      width: 15%;
      margin: 0%;
      padding: 2%;
      color: black;
      background-color: white;
      text-decoration: none;
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -50%);
      &:hover {
        background-color: $bright-yellow;
        color: white;
        font-weight: 700;
      }
    }
    .home-parag {
      width: 400px;
      font-family: Roboto;
      font-style: italic;
      font-size: 13px;
      margin-bottom: 0%;
      position: absolute;
      left: 50%;
      bottom: 4%;
      transform: translate(-50%, -50%);
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    .footer-span {
      font-weight: bold;
    }
  }
  .home-arrow {
    position: absolute;
    bottom: 0;
  }
}

//mixins 615px hometitle 20vw
