.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  color: white;
  .home-tag {
    font-family: Pinyon Script;
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-title {
    text-align: center;
    width: 100%;
    font-size: 144px;
    text-shadow: 5px 2px 0px #000000;
    color: $bright-yellow;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-text-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: white;
    .home-button {
      font-family: Lora;
      font-weight: 300;
      font-size: 24px;
      margin: 0%;
      padding: 30px 40px;
      color: black;
      background-color: white;
      text-decoration: none;
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -50%);
      &:hover {
        background-color: $bright-yellow;
        color: white;
        font-weight: 700;
      }
    }
    .home-parag {
      width: 400px;
      font-family: Roboto;
      font-style: italic;
      font-size: 13px;
      margin-bottom: 0%;
      position: absolute;
      left: 50%;
      bottom: 4%;
      transform: translate(-50%, -50%);
    }
  }
  .home-arrow {
    position: absolute;
    bottom: 0;
    left: 49%;
  }
}

@media screen and (max-width: 650px) {
  .home-section {
    .home-tag {
      font-size: 5vw;
      top: 5%;
    }
    .home-title {
      font-size: 22vw;
    }
    .home-text-container {
      .home-button {
        padding: 30px 30px;
      }
    }
  }
}

@media screen and (max-width: 834px) {
  .home-section {
    .home-title {
      top: 40%;
    }
  }
}
