@import "style";
@import "preloader";
@import "home";
@import "transition";
@import "about";
@import "projects";
@import "team";
@import "404";
@import "navbar";
@import "footer";
@import "cardstack";
@import "bgvideo";
@import "circlelogo";
