.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  overflow: hidden;
  .logo {
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin: 1em;
    position: relative;
    z-index: 101;
    h2 {
      margin: 0;
    }
  }
  .navbar {
    width: 100vw;
    height: 100vh;
    background-color: $light-blue;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: right 0.8s;
    z-index: 100;
    .navbar-menu {
      display: inline-block;
      cursor: pointer;
      position: fixed;
      top: 2vw;
      right: 4vw;
    }
    .navbar-menu-close {
      visibility: hidden;
      position: fixed;
      top: 0;
      right: 4vw;
      font-family: Pinyon Script;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      color: $bright-yellow;
    }
  }
  .change {
    right: 0rem;
    .navbar-menu-close {
      visibility: visible;
    }
    svg {
      display: none;
    }
  }
}

.nav-list {
  margin-top: 10%;
  .nav-item {
    margin: 3em 5em 3em 2em;
    list-style-type: none;
    text-align: center;
    padding: 0;
    .nav-link {
      font-family: Lora;
      font-style: italic;
      font-weight: 400;
      text-decoration: none;
      color: white;
      font-size: 2em;
    }
    .contact-nav-link {
      padding: 1% 4%;
      background: white;
      color: black;
    }
  }
  .contact-line {
    transform: translate(6rem, -4em);
  }
}
