#projects {
  display: flex;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  .project-one-section {
    position: relative;
    background: $dark-blue;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    scroll-snap-align: start;
    a {
      text-decoration: none;
      color: white;
    }
    .projects-tag {
      font-family: Pinyon Script;
      font-size: 36px;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .projects-category {
      font-family: Lora;
      font-style: italic;
      font-weight: normal;
      font-size: 144px;
      position: absolute;
      bottom: -40%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include small {
        bottom: -12%;
        font-size: 15vw;
      }
      @include medium {
        bottom: -20%;
        font-size: 15vw;
      }
    }
    .projects-next-line {
      position: absolute;
      bottom: 50%;
      right: 5%;
      width: 15%;
      border-top: 1px solid white;
      @include small {
        bottom: 13%;
      }
      @include medium {
        bottom: 22%;
      }
    }
    .projects-next {
      font-family: Lora;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      bottom: 47%;
      right: 22%;
      font-size: 24px;
      @include small {
        bottom: 10%;
      }
      @include medium {
        bottom: 20%;
      }
    }
  }
  .project-two-section {
    position: relative;
    background: $light-gray;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    scroll-snap-align: start;
    a {
      text-decoration: none;
      color: white;
    }
    .projects-tag {
      font-family: Pinyon Script;
      font-size: 36px;
      position: absolute;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .projects-category {
      font-family: Lora;
      font-style: italic;
      font-weight: normal;
      font-size: 144px;
      position: absolute;
      top: -15%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include small {
        top: -5%;
        font-size: 15vw;
      }
      @include medium {
        top: -10%;
        font-size: 15vw;
      }
    }
    .projects-next-line {
      position: absolute;
      bottom: 50%;
      right: 5%;
      width: 15%;
      border-top: 1px solid white;
      @include small {
        bottom: 13%;
      }
      @include medium {
        bottom: 22%;
      }
    }
    .projects-next {
      font-family: Lora;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      bottom: 47%;
      right: 22%;
      font-size: 24px;
      @include small {
        bottom: 10%;
      }
      @include medium {
        bottom: 20%;
      }
    }
    .projects-previous-line {
      position: absolute;
      bottom: 50%;
      left: 5%;
      width: 15%;
      border-top: 1px solid white;
      @include small {
        top: 13%;
      }
      @include medium {
        top: 17%;
      }
    }
    .projects-previous {
      font-family: Lora;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      bottom: 47%;
      left: 22%;
      font-size: 24px;
      @include small {
        top: 10%;
      }
      @include medium {
        top: 15%;
      }
    }
  }
  .project-three-section {
    position: relative;
    background: $dark-brown;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    scroll-snap-align: start;
    a {
      text-decoration: none;
      color: white;
    }
    .projects-tag {
      font-family: Pinyon Script;
      font-size: 36px;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .projects-category {
      font-family: Lora;
      font-style: italic;
      font-weight: normal;
      font-size: 144px;
      position: absolute;
      bottom: -40%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include small {
        bottom: -12%;
        font-size: 15vw;
      }
      @include medium {
        bottom: -20%;
        font-size: 15vw;
      }
    }
    .projects-previous-line {
      position: absolute;
      bottom: 50%;
      left: 5%;
      width: 15%;
      border-top: 1px solid white;
      @include small {
        bottom: 13%;
      }
      @include medium {
        top: 17%;
      }
    }
    .projects-previous {
      font-family: Lora;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      bottom: 47%;
      left: 22%;
      font-size: 24px;
      @include small {
        bottom: 10%;
      }
      @include medium {
        top: 15%;
      }
    }
  }
}
