// Roboto all, Lora all, Pinyon Script and Sawarabi Mincho

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sawarabi+Mincho&display=swap");

$bright-yellow: #ffc100;
$dark-yellow: #b58c0e;
$gray: #9c9b9b;
$dark-blue: #384c53;
$light-blue: #5a6e75;
$dark-brown: #595959;

body {
  margin: 0;
  background: $dark-blue;
}
