.team-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  .team-tag {
    font-family: Pinyon Script;
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .team-title {
    width: 100vw;
    font-size: 144px;
    text-shadow: 5px 2px 0px #000000;
    color: $bright-yellow;
    margin: 0;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  .footer {
    position: absolute;
    bottom: 0;
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    .footer-span {
      font-weight: bold;
    }
  }
  .team-cards-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    .team-card {
      width: 220px;
      height: 300px;
      background-color: white;
      display: inline-block;
      -webkit-filter: blur(4px) grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: blur(4px) grayscale(100%);
      &:hover {
        transition: transform 0.5s ease;
        -webkit-filter: blur(0px) grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: blur(0px) grayscale(0%);
      }
      // PROBLEM with transition
    }
    .card-1,
    .card-4 {
      &:hover {
        transform: translate(0, 100px);
      }
    }
    .card-2,
    .card-3 {
      &:hover {
        transform: translate(0, -100px);
      }
    }
  }
  .video-container {
    height: 150vh;
    width: 100%;
  }
  iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

//mixins 615px hometitle 20vw
