.team-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  .team-tag {
    font-family: Pinyon Script;
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .team-title {
    width: 100vw;
    font-size: 144px;
    text-shadow: 5px 2px 0px #000000;
    color: $bright-yellow;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    z-index: 1;
    @include small {
      font-size: 20vw;
      top: 20%;
    }
  }
  .team-cards-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    @include small {
      flex-wrap: wrap;
    }
    @include medium {
      display: block;
      position: relative;
      width: 100%;
      height: 80vh;
    }
    .card-1 {
      @include small {
      }
      @include medium {
        bottom: 10%;
        left: 5%;
      }
      &::before {
        background-image: url(/assets/images/team-john.png);
        background-size: cover;
      }
    }
    .card-2 {
      @include small {
      }
      @include medium {
        top: 10%;
        left: 60%;
      }
      &::before {
        background-image: url(/assets/images/team-sam.png);
        background-size: cover;
      }
    }
    .card-3 {
      @include small {
      }
      @include medium {
        top: 5%;
        left: 9%;
      }
      &::before {
        background-image: url(/assets/images/team-jane.png);
        background-size: cover;
      }
    }
    .card-4 {
      @include small {
      }
      @include medium {
        bottom: 15%;
        right: 8%;
      }
      &::before {
        background-image: url(/assets/images/team-carlos.png);
        background-size: cover;
      }
    }
    .team-card {
      position: relative;
      width: 220px;
      height: 300px;
      display: inline-block;
      @include small {
        width: 100px;
        height: 200px;
        margin: 10px;
      }
      @include medium {
        position: absolute;
        &:focus::before {
          -webkit-filter: blur(0px) grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: blur(0px) grayscale(0%);
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(4px) grayscale(100%);
        filter: blur(4px) grayscale(100%);
      }
      &:hover::before {
        -webkit-filter: blur(0px) grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: blur(0px) grayscale(0%);
      }
      &:hover {
        transition: transform 0.5s ease;
        .team-card-name {
          color: $bright-yellow;
          text-shadow: 5px 2px 0px #000000;
        }
      }
      // PROBLEM with transition
    }
    .card-1,
    .card-4 {
      .team-card-name {
        position: relative;
        top: 70%;
        left: 30%;
        z-index: 100;
        font-size: 35px;
        @include small {
          font-size: 5vw;
        }
      }
      &:hover {
        transform: translate(0, 100px);
        @include small {
          transform: none;
        }
      }
    }
    .card-2,
    .card-3 {
      .team-card-name {
        position: relative;
        top: 0%;
        left: 35%;
        z-index: 100;
        font-size: 35px;
        @include small {
          font-size: 5vw;
          top: 70%;
          left: 30%;
        }
      }
      &:hover {
        transform: translate(0, -100px);
        @include small {
          transform: none;
        }
      }
    }
  }
}
.circlelogo-center {
  position: absolute;
  bottom: 10%;
  right: 45%;
  @include small {
    z-index: -1;
  }
}
