.team-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  .team-tag {
    font-family: Pinyon Script;
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .team-title {
    width: 100vw;
    font-size: 144px;
    text-shadow: 5px 2px 0px #000000;
    color: $bright-yellow;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  .team-cards-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    .card-1::before {
      background-image: url(/assets/images/team-john.png);
    }
    .card-2::before {
      background-image: url(/assets/images/team-sam.png);
    }
    .card-3::before {
      background-image: url(/assets/images/team-jane.png);
    }
    .card-4::before {
      background-image: url(/assets/images/team-carlos.png);
    }
    .team-card {
      position: relative;
      width: 220px;
      height: 300px;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(4px) grayscale(100%);
        filter: blur(4px) grayscale(100%);
      }
      .team-card-name {
        position: relative;
        font-size: 30px;
      }
      &:hover::before {
        -webkit-filter: blur(0px) grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: blur(0px) grayscale(0%);
      }
      &:hover {
        transition: transform 0.5s ease;
        .team-card-name {
          color: $bright-yellow;
          text-shadow: 5px 2px 0px #000000;
        }
      }
      // PROBLEM with transition
    }
    .card-1,
    .card-4 {
      .team-card-name {
        position: relative;
        top: 70%;
        left: 30%;
        z-index: 100;
        font-size: 35px;
      }
      &:hover {
        transform: translate(0, 100px);
      }
    }
    .card-2,
    .card-3 {
      .team-card-name {
        position: relative;
        top: 0%;
        left: 35%;
        z-index: 100;
        font-size: 35px;
      }
      &:hover {
        transform: translate(0, -100px);
      }
    }
  }
}
.circlelogo-center {
  position: absolute;
  bottom: 10%;
  right: 45%;
}

@media screen and (max-width: 770px) {
  .team-section {
    .team-cards-container {
      display: block;
      position: relative;
      width: 100%;
      height: 80vh;
      .team-card {
        position: absolute;
      }
      .card-1 {
        top: 0%;
        left: 9%;
      }
      .card-2 {
        top: 10%;
        left: 60%;
      }
      .card-3 {
        bottom: 0%;
        left: 5%;
      }
      .card-4 {
        bottom: 5%;
        right: 8%;
      }
    }
  }
}

//mixins 615px hometitle 20vw
